<div class="form_user_page">
   <h1 class="form_user_chracter"><%= @user.name %> 's Page and Your favorites</h1>

 <p class="form_user_chracter">Your address is: <%= @user.email %></p>

 <h1>
 <% if @favorites_instagrams.present? %>
  <% @favorites_instagrams.each do |favorite| %>
  <div class="box30">
      <div class="box-title"><p><%= favorite.title %></p></div>
      <p><%= favorite.content %></p>
  </div>
  <% end %>
 <% end %>
 </h1>
 <br>
</div>
